<p [style.color]="color">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean id turpis eu nulla malesuada varius. Praesent commodo, dui nec imperdiet porta, tortor ligula tristique massa, sed lobortis erat enim vel nunc. Curabitur finibus condimentum accumsan. Cras rutrum molestie eros, et blandit magna tempus ut. Maecenas vel massa vitae erat elementum aliquam. Etiam sed erat massa. Donec a nibh tellus. Maecenas placerat leo pretium lectus suscipit consectetur.

  Curabitur felis urna, lobortis vel lacus id, mollis vehicula eros. In venenatis, dui quis sagittis iaculis, urna dolor viverra sapien, eu hendrerit justo ipsum et orci. Vivamus aliquet faucibus dolor sed tincidunt. In ac massa sit amet nisl convallis vestibulum. Mauris tristique fringilla sapien sed sollicitudin. Mauris in luctus lacus, nec pulvinar massa. Pellentesque tellus sem, tincidunt a hendrerit vitae, consectetur in libero. Aenean enim velit, laoreet eu cursus sit amet, aliquam in eros. Praesent vel nulla ornare, venenatis risus nec, eleifend urna. Etiam ullamcorper dui eu semper molestie. Nunc dignissim eu mauris eu fermentum. Fusce eros nunc, lobortis eget vehicula at, gravida vitae lorem. </p>


  <button (click)="changeColor('red')">RED</button>
  <button (click)="changeColor('green')">GREEN</button>
  <button (click)="changeColor('blue')">BLUE</button>