<!--<simplon-list></simplon-list>
 <simplon-structure></simplon-structure>     ont peut faire un ngFor pour repeter autant de fois le template 
<simplon-first></simplon-first> 
<simplon-exo-first></simplon-exo-first> -->

<ul>
    <li>
        <a routerLinkActive="active"[routerLink]="['first']">First</a>
    </li>
    <li>
        <a routerLinkActive="active"[routerLink]="['list']">List</a>
    </li>
    <li>
        <a routerLinkActive="active"[routerLink]="['exo']">Exo</a>
    </li>
    <li>
        <a routerLinkActive="active"[routerLink]="['structure']">Structure</a>
    </li>
    <li>
        <a routerLinkActive="active"[routerLink]="['observable']">Observable</a>
    </li>
</ul>

<router-outlet></router-outlet>