<ul>
<li *ngFor="let item of list; let key = index">
   {{key}} {{item}}
  <button (click)="rmItem(key)">X</button>
  
  <button (click)="changeOrder()"*ngIf="key !== 0">+</button>
  <button (click)="changeOrder()"*ngIf="key !== list.length -1">-</button>
  
</li>

</ul>

<button (click)="addItem()">Add</button>

<input type="text"[(ngModel)]="text">