<h1>Le titre</h1>

<p [hidden]="isHidden">{{maVariable}}</p>




<!-- <p [id]="maVariable">{{maVariable}}</p> -->

<img [src]="imgSrc">

<!-- <button (click)="isHidden= true">Hide paragraph</button>
<button (click)="isHidden= false">Show paragraph</button> -->

<button (click)="tooglePara()">Toggle paragraph</button>


